---
// src/components/landing/Products.astro
import ProductGrid from "../boxing/ProductGrid.astro";

// 导入产品数据 (确保这些文件存在且数据结构正确)
import { winterProducts } from "./assets/winter.js";
import { summerProducts } from "./assets/summer.js";
---

<div>
        <div class=" flex justify-center items-stretch"> 
        <ProductGrid
            title={winterProducts.title}
            products={winterProducts.data}
            class="h-full" 
        />
    </div>
    
        <div class=" flex justify-center items-stretch mt-[64px]">
        <ProductGrid
            title={summerProducts.title}
            products={summerProducts.data}
            class="h-full"
        />
    </div>

    <div class=" flex justify-center items-stretch mt-[64px]">
        <ProductGrid title={"第三个"} products={winterProducts.data} class="h-full" />
    </div>
    
    <div class=" flex justify-center items-stretch mt-[64px]">
        <ProductGrid title={"第四个"} products={summerProducts.data} class="h-full" />
    </div>
    
    <div class=" flex justify-center items-stretch mt-[64px]">
        <ProductGrid title={"第五个"} products={winterProducts.data} class="h-full" />
    </div>
    
    <div class=" flex justify-center items-stretch mt-[64px]">
        <ProductGrid title={"第六个"} products={summerProducts.data} class="h-full" />
    </div>
</div>